{% extends "blog/base.html" %}
{% block content %}
		      
		   <h1 style="margin-right: 20px; color: #FF4500; font-size:x-large;">
		   	   About Page!
	       </h1>
	    
	    
           <h5 style="color: #9400D3; margin-top: 40px; margin-right: 10px;">
                "We are an impossibility in an impossible universe" 
                                     (Ray Bradbury)
           </h5>

        <p style="color: #F8F8FF;">
        	<h4 style="color: #F8F8FF; margin-top: 40px; margin-right: 10px;">
            L’Astronomie, l’observation des étoiles et du ciel, est une passion aussi fascinante… que riche. Il existe de nombreuses manières de l’aborder. <br>

        	Ce blog est destiné aux astronomes amateurs. L'objectif de Space-LOG est de
        	fournir des informations basiques sur le domaine d'astronomie. Pour cela
        	nous vous proposons des articles qui tenteront de répondre à les questions les plus célèbres. <br>

        	En revanche, vous aurez l'opportunité de rédiger votre propres articles et ajouter
        	des photos aussi. <br>

        	Notons que dans ce blog vous ne trouverez aucune formule mathématique complexe. Et
        	donc vous aurez  capables de comprendre tous les articles postées. <br><br>

        	Vous trouverez dans cette page quelques notions de base pour se familiariser 
        	avec le domaine. <br><br>

              <a style="margin-left: 200px; margin-right: 10px; color: blue;" href="#holes">HOLES</a>
            
              <a style="margin-right: 10px; color: blue;" href="#systemes">SYSTEMES</a>
            
              <a style="margin-right: 10px; color: blue;" href="#galaxies">GALAXIES</a>

            </h4>
            
        </p>

        <br><br><br><br><br><br><br><br>
        <h1 id="holes" style="color: red;">HOLES</h1>
        <div  style="color: #F8F8FF; margin-top: 40px; margin-right: 10px;">
             "Holes" ou "trous" en français se sont des concepts énormes dans l'astronomie.
             il ya plusieur types en fait des trous (noire,bleu,trou de ver ...) mais le plus
             connées est le trous noire.
             <img src="/static/TROU.jpeg"><br>
             Dans le cadre de la relativité générale,un trou noir est défini comme une singularité gravitationnelle occultée par un horizon absolu appelé horizon des évènements. Selon la physique quantique, un trou noir est susceptible de s'évaporer par l'émission d'un rayonnement de corps noir appelé rayonnement de Hawking.
        </div>
	     
	     <br><br><br><br><br><br><br><br><br><br><br><br>
	    <h1 id="systemes"  style="color: red;">Systemes</h1>
        <div style="color: #F8F8FF; margin-top: 40px; margin-right: 10px;">
             En astronomie, l'expression « système stellaire » désigne en principe un groupement d'un petit nombre d’étoiles. Les étoiles en question sont liées par l'attraction gravitationnelle.
             <img src="/static/systeme.jpg"><br>
             La photo ci dessus reprèsente le système solaire. Autrement dit Le Soleil et ses planètes 
              (Mercure  • Vénus  • Terre  • Mars  • Jupiter  • Saturne  • Uranus  • Neptune)
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br>
	    <h1 id="galaxies"  style="color: red;">Galaxies</h1>
        <div style="color: #F8F8FF; margin-top: 40px; margin-right: 10px;">
              <img src="/static/galaxy.png"><br>
              Une galaxie est un assemblage d'étoiles, de gaz, de poussières, de vide et peut-être essentiellement de matière noire, contenant parfois un trou noir supermassif en son centre.
              donc vous pouvez maintenant constater que un ensemble des étoiles forme un système,
              et un ensemble des systèmes forme une galaxie qui peut contenir des trous, et un
              ensemble des galaxies forme l'UNIVERS.
              </div><br><br>
{% endblock content %}	  
